<%= render "layouts/title"%>
<div class="container-fluid" style="padding-top:1%">
  <div class="row-fluid">
    <div class="span2" style="padding-top:2%">
      <!--Sidebar content-->
      <%= render "layouts/left"%>
    </div>
    <div class="span6">
      <div style="padding-top:4%">
        <%=raw @join.content %>
        <p></p>
        <p>
          <%= link_to '更新', edit_admin_join_path(@join), class: "btn btn-primary"%>
        </p>
      </div>
      <!--end-->
    </div>
  </div>
</div>