<!DOCTYPE html>
<html>
<head>
  <title>美国高中奖学金--网站管理系统</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div style="padding-top:14%">
  <footer class="footer">
    <legend></legend>
    <p style="text-align:center;" class="muted">©&nbsp2013&nbsp奖学金</p>
  </footer>
<div>
</body>
</html>
