<!DOCTYPE html>
<html lang="en">
<head>
  <title>美国高中奖学金联盟</title>

  <meta charset="utf-8">
    <title>美国高中jiang'xue'ji</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">    

    <link href="/css/bootstrap.min.css" rel="stylesheet">
        
    <link href="/css/focus.css" rel="stylesheet"> 
    <link href="/css/focus-responsive.css" rel="stylesheet">
       
    <link href="/css/pages/homepage.css" rel="stylesheet">    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  
</head>
<body>

<%= yield %>

</body>
</html>
