<%= render "layouts/title"%>
<div class="container-fluid" style="padding-top:1%">
  <div class="row-fluid">
    <div class="span2" style="padding-top:2%">
      <!--Sidebar content-->
      <%= render "layouts/left"%>
    </div>
    <div class="span6">
      <div style="padding-top:4%">
        <p class="text-success">恭喜你提交成功！</p>
       <%= link_to "返回首页", root_path %>
      </div>
      <!--end-->
    </div>
  </div>
</div>




